@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("C:\Users\M\OneDrive\Desktop\Campus Insights System\campus-system\src\assets\Fonts\Montserrat\static\Montserrat-Bold.ttf")
    format("ttf");
}

@font-face {
  font-family: "Inter";
  src: url("C:\Users\M\OneDrive\Desktop\Campus Insights System\campus-system\src\assets\Fonts\Inter\Inter-VariableFont_opsz,wght.ttf")
    format("ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
